body{
    background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000");
}

.taskList{
    background-color: rgba(255, 255, 255, 0.7);
    width: 30%;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin: 20px auto;
}